#include "Shared.xcconfig"

WRAPPER_EXTENSION = framework
FRAMEWORK_VERSION = A
LD_RUNPATH_SEARCH_PATHS = @loader_path/../Frameworks
DYLIB_COMPATIBILITY_VERSION = 0
INSTALL_PATH = @rpath

DYLIB_COMPATIBILITY_VERSION = 0
DYLIB_CURRENT_VERSION = ${YAJL_VERSION}
CURRENT_PROJECT_VERSION = ${YAJL_VERSION}


